[secrets]
[init]
	templateDir = /Users/cengiz.ziyaeddin/.git-templates/git-secrets
	defaultBranch = main
[user]
  name = <Cengizhan> <Ziyaeddin>
  email = <cengiz>.<ziyaeddin>@simplybusiness.co.uk
[color]
	ui = true
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  ls = ls-files
  wc = whatchanged
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  last = log -n 1 HEAD
  wdiff = diff --word-diff
  unstage = reset HEAD --
  contributors = shortlog -s -n
[github]
  organization = simplybusiness
[diff "postcodedump"]
  textconv = postcode_dump.sh
[diff "insurerdocs"]
  textconv = insurer_docs.sh
[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[diff "gpg"]
  textconv = gpg --quiet --no-tty --decrypt
[core]
	pager = diff-so-fancy
	excludesfile = /Users/cengiz.ziyaeddin/.gitignore
	editor = vi
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff "bnwsec"]
	textconv = bnw_secrets get --detect-profile --no-error
[merge "bnwsec"]
	name = A custom merge driver used to resolve conflicts in bnwsec files
	driver = bnw_secrets merge %O %A %B %P
	recursive = binary
[commit]
	template = /Users/cengiz.ziyaeddin/.gitmessage
[push]
	autoSetupRemote = true
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
